/* You can add global styles to this file, and also import other style files */
ul {
    width:250px;
li {
    list-style-type: none;
}
.delete{
    margin-left:20px;
}
.unroll{
    margin-right:20px;
}
}
